.issue-table {
    max-width: 1000px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(38, 40, 43);
}

.table-head {
    height: 50px;
    border-bottom: 1px solid #857d6c;
    font-weight: bold;
    background-color: #857d6c;;
    color: black;
}

.table-head div, .icon, .due-date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-head::before {
    content: "";
    width: 40px;
}

.type, .status, .subject, 
.date-created, .due-date {
    padding: 5px;
}

.type, .status {
    width: 100px;
}

.date-created, .subject {
    display: flex;
    align-items: center;
}

.subject {
    width: 300px;
}

.date-created, .due-date {
    width: 100px;
}

.issue {
    border-bottom: 1px solid darkgray;
}

.issue:hover {
    background-color: lightgray;
}

.issue .icon {
    width: 40px;
}